<div id="<%= dom_id order %>">
  <p>
    <strong>Orderid:</strong>
    <%= order.orderid %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

  <p>
    <strong>Orderdate:</strong>
    <%= order.orderdate %>
  </p>

  <p>
    <strong>Paymentmethod:</strong>
    <%= order.paymentmethod_id %>
  </p>

</div>
