<div id="<%= dom_id booklist %>">
  <p>
    <strong>Tilte:</strong>
    <%= booklist.tilte %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= booklist.author %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= booklist.publisher %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= booklist.year %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= booklist.available %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= booklist.type_id %>
  </p>

  <p>
    <strong>Bookid:</strong>
    <%= booklist.bookid %>
  </p>

</div>
