<div id="<%= dom_id borrow %>">
  <p>
    <strong>Name:</strong>
    <%= borrow.name %>
  </p>

  <p>
    <strong>Studentid:</strong>
    <%= borrow.studentid %>
  </p>

  <p>
    <strong>Born:</strong>
    <%= borrow.born %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= borrow.phone %>
  </p>

  <p>
    <strong>Booklist:</strong>
    <%= borrow.booklist_id %>
  </p>

  <p>
    <strong>Borrow at:</strong>
    <%= borrow.borrow_at %>
  </p>

  <p>
    <strong>Return at:</strong>
    <%= borrow.return_at %>
  </p>

</div>
