<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Borrow</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to borrows_path, class: button_class(theme: "transparent") do %>
      All Borrows
      <% end %>
      <%= link_to edit_borrow_path(@borrow), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @borrow.name %></p>
      </li>
      <li>
        <p class="font-semibold">Studentid:</p>
        <p><%= @borrow.studentid %></p>
      </li>
      <li>
        <p class="font-semibold">Born:</p>
        <p><%= @borrow.born %></p>
      </li>
      <li>
        <p class="font-semibold">Phone:</p>
        <p><%= @borrow.phone %></p>
      </li>
      <li>
        <p class="font-semibold">Booklist:</p>
        <p><%= @borrow.booklist.tilte %></p>
      </li>
      <li>
        <p class="font-semibold">Borrow at:</p>
        <p><%= @borrow.borrow_at %></p>
      </li>
      <li>
        <p class="font-semibold">Return at:</p>
        <p><%= @borrow.return_at %></p>
      </li>
  </ul>
</div>
