


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Products</h1>

    <%= link_to new_product_path, class: button_class(theme: "primary") do %>
    Add New Product
    <% end %>
  </div>
  <%= form_tag(products_path, method: :get) do %>
    <div class="text-left mx-auto mb-4">
      <%= text_field_tag :term, params[:term], placeholder: 'Search', style: 'border-radius: 8px; padding: 8px;' %>
      <%= submit_tag 'Search', style: 'border-radius: 8px; padding: 8px;' %>
    </div>
  <% end %>
  <table class="table-auto border-collapse border-slate-400 w-full" style="background-color: #C3F0E9">
  <thead class="bg-slate-50 dark:bg-slate-700">
    <tr>
        
          <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left" style="background-color: #128ABB;">Name</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left" style="background-color: #128ABB;">Description</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left" style="background-color: #128ABB;">Price</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left" style="background-color: #128ABB;">Ingredient</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left" style="background-color: #128ABB;">Available</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left" style="background-color: #128ABB;">Quantity</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left" style="background-color: #128ABB;">Supplier</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left" style="background-color: #128ABB;">Productcategory</th>
                
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left" style="background-color: #128ABB;">Detail</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <%= content_tag :tr, id: dom_id(product), class: dom_class(product) do %>
      
        <td class="border border-slate-300 dark:border-12B1BB-700 p-4 text-slate-500 dark:text-12B1BB-400"><%= link_to product.name, product %></td>
      

              <td class="border border-slate-300 dark:border-12B1BB-700 p-4 text-slate-500 dark:text-12B1BB-400"><%= product.description %></td>
              <td class="border border-slate-300 dark:border-12B1BB-700 p-4 text-slate-500 dark:text-12B1BB-400"><%= product.price %></td>
              <td class="border border-slate-300 dark:border-12B1BB-700 p-4 text-slate-500 dark:text-12B1BB-400"><%= product.ingredient %></td>
              <td class="border border-slate-300 dark:border-12B1BB-700 p-4 text-slate-500 dark:text-12B1BBe-400"><%= product.available %></td>
              <td class="border border-slate-300 dark:border-12B1BB-700 p-4 text-slate-500 dark:text-12B1BB-400"><%= product.quantity %></td>
              <td class="border border-slate-300 dark:border-12B1BB-700 p-4 text-slate-500 dark:text-12B1BB-400"><%= product.supplier.name %></td>
              <td class="border border-slate-300 dark:border-12B1BB-700 p-4 text-slate-500 dark:text-12B1BB-400"><%= product.productcategory.name %></td>
      
              <td class="border border-slate-300 dark:border-12B1BB-700 p-4 text-slate-500 dark:text-12B1BB-400"><%= link_to 'Show', product %></td>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
